
<div class="container-fluid" id="aboutus">
    <div class="row">
        <div class="col-sm-12 col-md-6 columnaIzq">
            
        </div>
        <div class="col-sm-12 col-md-6 columnaDer">
            <h2 class="text-center text-primary pt-4 pb-4"><b>Acerca de mi...</b></h2>
            <a class="text-info"><i class="bi bi-pencil-square"></i></a>
            <p class="parrafo">Soy <em>arquitecto urbanista</em>, actualmente formandome en el <i>desarrollo de nuevas tecnologías</i>. Me motiva el progreso y la capacitación constante. Me gusta aportar mis conocimientos para encontrar resoluciones concretas a problemas reales. La iniciativa e innovación siempre han formado parte de mi carrera profesional, por lo que, he desarrollado una metodología de trabajo basada en la comunicación, pensamiento critico y el trabajo en equipo. Considero ésto de gran valor, para adaptarme a las necesidades que las empresas modernas necesitan dadas las dinámicas cambiantes de los tiempos actuales</p>
        </div>
    </div>
</div>