<div class="container-fluid" id="hysSkils">
    <div class="row">
        <div class="col-sm-12 col-md-6 skilsIzq">
            <div class="row" id="hysSkils">
                <h2 class="text-center text-primary pt-4 pb-4"><b>Hard & Soft Skils</b></h2>
            <!--autocad-->
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="95"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#FF595E'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [showImage]="true"
                        [imageSrc]="'../assets/prgm_logos/autocad.png'"
                        [imageHeight]="40"
                        [imageWidth]="40"            
                    ></circle-progress>
                </div>
            <!--potoshop-->    
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="85"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#FFCA3A'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [imageSrc]="'../assets/prgm_logos/photoshop.png'"
                        [showImage]="true"
                        [imageHeight]="40"
                        [imageWidth]="40" 
                    ></circle-progress>
                </div>
            <!--Sketchup-->    
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="95"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#8AC926'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [imageSrc]="'../assets/prgm_logos/sketchup.png'"
                        [showImage]="true"
                        [imageHeight]="40"
                        [imageWidth]="40" 
                    ></circle-progress>
                </div>
            <!--Twinmotion-->    
                    <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <circle-progress
                            [percent]="75"
                            [radius]="50"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="3"
                            [outerStrokeColor]="'#1982C4'"
                            [innerStrokeColor]="'#f8b6a3'"
                            [animation]="true"
                            [animationDuration]="800"
                            [responsive]="true"
                            [imageSrc]="'../assets/prgm_logos/twinmotion.png'"
                            [showImage]="true"
                            [imageHeight]="40"
                            [imageWidth]="40" 
                        ></circle-progress>
                    </div>
            </div>
            <hr>
            <div class="row">        
            <!--html-->  
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="75"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#FF595E'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [showImage]="true"
                        [imageSrc]="'../assets/prgm_logos/html.png'"
                        [imageHeight]="40"
                        [imageWidth]="40"            
                    ></circle-progress>
                </div>
            <!--css-->    
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="75"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#FFCA3A'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [imageSrc]="'../assets/prgm_logos/css.png'"
                        [showImage]="true"
                        [imageHeight]="40"
                        [imageWidth]="40" 
                    ></circle-progress>
                </div>
            <!--javascript-->    
                    <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <circle-progress
                            [percent]="70"
                            [radius]="50"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="3"
                            [outerStrokeColor]="'#8AC926'"
                            [innerStrokeColor]="'#f8b6a3'"
                            [animation]="true"
                            [animationDuration]="800"
                            [responsive]="true"
                            [imageSrc]="'../assets/prgm_logos/javascript.png'"
                            [showImage]="true"
                            [imageHeight]="40"
                            [imageWidth]="40" 
                        ></circle-progress>
                    </div>
            <!--git-->    
                    <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <circle-progress
                            [percent]="80"
                            [radius]="50"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="3"
                            [outerStrokeColor]="'#1982C4'"
                            [innerStrokeColor]="'#f8b6a3'"
                            [animation]="true"
                            [animationDuration]="800"
                            [responsive]="true"
                            [imageSrc]="'../assets/prgm_logos/github.png'"
                            [showImage]="true"
                            [imageHeight]="40"
                            [imageWidth]="40" 
                        ></circle-progress>
                    </div>
            </div>
            <hr>
            <div class="row">
                <!--Ingles-->  
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="85"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#FF595E'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [showImage]="true"
                        [imageSrc]="'../assets/prgm_logos/talk.png'"
                        [imageHeight]="40"
                        [imageWidth]="40"            
                    ></circle-progress>
                    <label>Inglés</label>
                </div>
            <!--Trabajo en equipo-->    
                <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <circle-progress
                        [percent]="100"
                        [radius]="50"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="3"
                        [outerStrokeColor]="'#FFCA3A'"
                        [innerStrokeColor]="'#f8b6a3'"
                        [animation]="true"
                        [animationDuration]="800"
                        [responsive]="true"
                        [imageSrc]="'../assets/prgm_logos/teamwork.png'"
                        [showImage]="true"
                        [imageHeight]="40"
                        [imageWidth]="40" 
                    ></circle-progress>
                    <label>Trabajo colaborativo</label>
                </div>
            <!--proactivo creativo-->    
                    <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <circle-progress
                            [percent]="100"
                            [radius]="50"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="3"
                            [outerStrokeColor]="'#8AC926'"
                            [innerStrokeColor]="'#f8b6a3'"
                            [animation]="true"
                            [animationDuration]="800"
                            [responsive]="true"
                            [imageSrc]="'../assets/prgm_logos/proactive.png'"
                            [showImage]="true"
                            [imageHeight]="40"
                            [imageWidth]="40" 
                        ></circle-progress>
                        <label>Proactivo / Creativo</label>
                    </div>
            <!--autodidacta-->    
                    <div id="circles" class="text-center col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <circle-progress
                            [percent]="95"
                            [radius]="50"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="3"
                            [outerStrokeColor]="'#1982C4'"
                            [innerStrokeColor]="'#f8b6a3'"
                            [animation]="true"
                            [animationDuration]="800"
                            [responsive]="true"
                            [imageSrc]="'../assets/prgm_logos/autodidact.png'"
                            [showImage]="true"
                            [imageHeight]="40"
                            [imageWidth]="40" 
                        ></circle-progress>
                        <label>Autodidacta</label>
                    </div>
                </div>       
        </div>
    <div class="col-sm-12 col-md-6 skilsDer">
            
    </div>
</div>