<div class="header-background justify-content-center align-items-center" id="banner">
    <div class="bgimage col-12">
        <img class="imgBg" src="../../../assets/images/fondoskyLG.png" alt="avatarPic"> 
    </div>
    <div class="profileContainer col-12"> 
        <img class="profilePic" src="../../../assets/images/lookbyn.png" alt="avatarPic">
    </div>
    <div class="nombreyTitulo col-xs-12">
        <div class="text-box">
            <h1>GERMÁN RICO</h1>
            <h2>Arquitecto Urbanista</h2>
            <h2>Full Stack Developer jr</h2>
        </div>
    </div>
</div>