<div class="header-background justify-content-center align-items-center" id="banner">
    <div class="bgimage col-12">
        <img class="imgBg" src="../../../assets/images/fondoskyLG.png" alt="ImgFondo"> 
    </div>
    <div class="profileContainer col-12"> 
        <img class="profilePic" src="{{persona.img}}" alt="avatarPic">
    </div>
    <div class="nombreyTitulo col-xs-12">
        <div class="text-box">
            
            <h1 data-aos="fade-right" data-aos-duration='5000' id="nombre">{{persona.nombre}} {{persona.apellido}} <!--a class="text-info" style="font-size: 25%"><i class="bi bi-pencil-square"></i></a--></h1> 
            
            <h2 data-aos="fade-left" data-aos-delay="100" data-aos-duration='5000'>{{persona.profesion1}} <!--a class="text-info" style="font-size: 45%"><i class="bi bi-pencil-square"></i></a--></h2>
            
            <h2 data-aos="fade-left" data-aos-delay="100" data-aos-duration='5000'>{{persona.profesion2}} <!--a class="text-info" style="font-size: 45%"><i class="bi bi-pencil-square"></i></a--></h2>
        </div>
    </div>
</div>