<div class="container-fluid" id="proyectos">
<!--Proyectos Arquitectura-->    
  <div class="card-group pjarq">
    <div class="row gy-4 p-5">
      <div class="col-12 col-md-6 col-lg-4 d-flex hover-overlay">
        <div class="card text-bg-dark border-primary ">
          <img src="../../../assets/imgpj/DLremodeling/5.jpg" class="card-img" alt="Ampliacion DL" />
          <div class="mask" style="background-color: rgba(70, 164, 241, 0.39)"></div>
          <h5 class="card-title m-3">Ampliacion DL</h5>
          <p class="card-text m-3">
            Vivienda unifamiliar realizada con construccion tradicional
          </p>
          <div class="card-footer text-secondary mt-auto">Salsipuedes - Crdoba - 2022</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-bg-dark border-primary d-flex hover-overlay">
          <img src="../../../assets/imgpj/MEhouse/4.jpg" class="card-img-top" alt="Casa ME" />
          <div class="mask" style="background-color: rgba(70, 164, 241, 0.39)"></div>
          <h5 class="card-title m-3">Casa ME</h5>
          <p class="card-text m-3">
            Vivienda unifamiliar realizada en Steel Frame
          </p>
          <div class="card-footer text-secondary mt-auto">Salsipuedes - Córdoba - 2021</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4  d-flex hover-overlay">
        <div class="card text-bg-dark border-primary ">
          <img src="../../../assets/imgpj/MMhouse/1.jpg" class="card-img" alt="Casa MM" />
          <div class="mask" style="background-color: rgba(70, 164, 241, 0.39)"></div>
          <h5 class="card-title m-3">Casa MM</h5>
          <p class="card-text m-3">
            Vivienda unifamiliar realizada con construccion tradicional
          </p>
          <div class="card-footer text-secondary mt-auto">Salsipuedes - Córdoba - 2019</div>
        </div>
      </div>
    </div>
  </div>
<!--Proyectos desarrollo web-->  
  <div class="card-group pjfsj">
    <div class="row gy-4 p-5">
      <div class="col-12 col-md-6 col-lg-4 d-flex hover-overlay">
        <div class="card text-bg-dark border-primary">
          <img src="../../../assets/imgpj/dummyimg.jpg" class="card-img" alt="Web Portfolio" />
          <div class="mask" style="background-color: rgba(70, 164, 241, 0.39)"></div>
          <h5 class="card-title m-3">Portfolio personal</h5>
          <p class="card-text m-3 mt-auto">
            Web portfolio realizado para Argentina Programa
          </p>
          <div class="card-footer text-secondary mt-auto">Córdoba - 2022</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-bg-dark border-primary d-flex hover-overlay">
          <img src="../../../assets/imgpj/dummyimg.jpg" class="card-img-top" alt="pfsj2" />
          <div class="mask" style="background-color: rgba(70, 164, 241, 0.39)"></div>
          <h5 class="card-title m-3">Título</h5>
          <p class="card-text m-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, deserunt accusamus! Qui soluta labore voluptate explicabo, ipsam dolorum sint rem, aspernatur odio iure fugiat quae consequuntur laborum quidem debitis assumenda.
          </p>
          <div class="card-footer text-secondary mt-auto">Córdoba - 2022</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex hover-overlay">
        <div class="card text-bg-dark border-primary ">
          <img src="../../../assets/imgpj/dummyimg.jpg" class="card-img" alt="pfsj3" />
          <div class="mask" style="background-color: rgba(70, 164, 241, 0.39)"></div>
          <h5 class="card-title m-3">Título</h5>
          <p class="card-text m-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iusto at quia doloribus perspiciatis dignissimos est quae eaque mollitia blanditiis cum itaque, eum tenetur dolorum dolorem culpa eos reprehenderit. Praesentium.
          </p>
          <div class="card-footer text-secondary mt-auto">Cordoba - 2012</div>
        </div>
      </div>
    </div>
  </div>
  
</div>