<div class="container-fluid" id="jobXp">
  <div class="row" id="exp">
    <div class="col-sm-12 col-md-6 expIzq">
      <h2 class="text-center text-primary pt-4 pb-4">Experiencia Laboral</h2>
      <div>
        <button type="button" class="col-12 btn btn-primary mb-2" routerLink="/newxp" *ngIf="isLogged">
          <i class="bi bi-plus-circle"></i> Nueva experiencia
        </button>
      </div>
      <div class="col-lg-12 shadow">
        <table class="table text-secondary">
          <thead class="bg-light text-primary">
            <tr>
              <th>Puesto</th>
              <th>Empresa</th>
              <th>Descripción</th>
              <th colspan="2" *ngIf="isLogged">Edición</th>
            </tr>
          </thead>
          <tbody class="bg-dark">
            <tr class="text-light" *ngFor="let Jobxp of expe">
              <td class="fs-5">{{ Jobxp.puestoE }}
                <span class="m-1 bg-info badge rounded-pill">{{ Jobxp.anoE }}</span>
              </td>
              <td>{{ Jobxp.empresaE }}</td>
              <td>{{ Jobxp.descripcionE }}</td>
              <td *ngIf="isLogged">
                <button
                  class="btn btn-outline-primary" routerLink="/editxp/{{Jobxp.id}}">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </td>
              <td *ngIf="isLogged">
                <button class="btn btn-outline-danger" (click)="delete(Jobxp.id)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 expDer"></div>
  </div>
</div>
