<div class="container-fluid" id="jobXp">
    <div class="row" id="exp">
        <div class="col-sm-12 col-md-6 expIzq">
            <h2 class="text-center text-primary pt-4 pb-4">Experiencia Laboral</h2>
            <ul>
                <li>
                    <h4 class="text-primary fs-4">ARQUITECTO PARTICULAR</h4><h5 class="text-secondary">2014 - Actual</h5>
                    <h4>Estudio GRArq</h4>
                </li>
                <li>
                    <p>Diseño de proyectos, tramites administrativos, remodelaciones, ampliaciones y dirección técnica de obra en viviendas unifamiliares (casa AT, casa M1 y M2, casa GZ, remodelaciones en Los Algarrobos , La Lucinda) zona sierras chicas</p>
                </li>
                <li>
                    <h4 class="text-primary fs-4">ARQUITECTO ASESOR</h4><h5 class="text-secondary">2017 - 2022</h5>
                    <h4>Municipalidad de Salsipuedes</h4>
                </li>
                <li>
                    <p>Asesor y director técnico en la Dirección de Planeamiento y Ambiente y luego en la Dirección de Obras Públicas, mantenimiento de la infraestructura municipal, de salud y escolar. Integrante del equipo de trabajo de reordenamiento urbano, a cargo de nuevas ordenanzas urbanas y constitución del nuevo Código de Ordenamiento Urbano</p>
                </li>  
                <li>
                    <h4 class="text-primary fs-4">DIBUJANTE TÉCNICO</h4>><h5 class="text-secondary">2010/2012 - 2015</h5>
                    <h4>Estudio CarmonaRico / Estudio Restelli-Bosch</h4>
                </li>
                <li>
                    <p>Dibujante, pasado en limpio de planos, transcripciones, relevamientos y alzado en 3D. Gestión de página web y redes sociales.</p>
                </li>         
            </ul> 
        </div>
        <div class="col-sm-12 col-md-6 expDer">
            
        </div>
    </div>
</div>