<div class="container-fluid" id="education">
    <div class="row">
        <div class="col-sm-12 col-md-6 eduIzq">
            
        </div>
        <div class="col-sm-12 col-md-6 eduDer">
            <h2 class="text-center text-primary pt-4 pb-4">Estudios Realizados</h2>
            <ul>
                <li>
                    <h4 class="text-primary fs-4">DESARROLLADOR FULL STACK jr</h4><h3>2022</h3>
                    <h4>Argentina Programa - Ministerio de Desarrollo Productivo</h4>
                </li>
                <li>
                    <p>Estudios en curso.</p>
                </li>
                <li>
                    <h4 class="text-primary fs-4">MAESTRÍA EN URBANISMO</h4><h5 class="text-secondary">2019</h5>
                    <h4>UNC - Facultad de arquitectura y diseño industria</h4>
                </li>
                <li>
                    <p>Primer año cursado completo.</p>
                </li>
                <li>
                    <h4 class="text-primary fs-4">ARQUITECTO</h4><h5 class="text-secondary">2016</h5>
                    <h4>UNC - Facultad de arquitectura y diseño industrial</h4>
                </li>
                <li>
                    <p>Estudios finalizados.</p>
                </li>  
                <li>
                    <h4 class="text-primary fs-4">TÉCNICO EN ARMADO Y REPARACIÓN DE PC</h4><h5 class="text-secondary">2003</h5>
                    <h4>Instituto F.U.C.E. - Córdoba</h4>
                </li>
                <li>
                    <p>Estudios finalizados.</p>
                </li>
                <li>
                    <h4 class="text-primary fs-4">BACHILLER EN ECONOMÍA Y GESTIÓN DE LAS ORGANIZACIONES</h4><h5 class="text-secondary">2001</h5>
                    <h4>Instituto privado diocesano Dr. Alexis Carrel - Río Tercero</h4>
                </li>
                <li>
                    <p>Estudios finalizados.</p>
                </li>      
            </ul>
        </div>
    </div>
</div>