<div class="container-fluid" id="education">
    <div class="row">
        <div class="col-sm-12 col-md-6 eduIzq">
            
        </div>
        <div class="col-sm-12 col-md-6 eduDer">
            <h2 class="text-center text-primary pt-4 pb-4">Estudios Realizados</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" data-aos="zoom-in">
                  <div  class="card shadow-15-strong">
                    <img src="../../../assets/icons/study-ap.jpg" alt="logoAP" class="card-img-top"/>
                    <button class="btn btn-dark text-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#study-ap" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-chevron-compact-down"></i>
                      </button>
                      <div class="collapse" id="study-ap">
                        <div class="card-body bg-dark text-light">
                            <h5 class="card-title text-center text-primary">Desarrollador Full Stack jr</h5>
                            <p class="card-text fs-6 text-start">
                              Argentina Programa <br>
                              Ministerio de Desarrollo Productivo <br>
                              <em class="text-secondary">Online</em>
                            </p>
                          </div>
                          <div class="card-footer bg-dark border-light text-info d-flex justify-content-end">
                              2022
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col" data-aos="zoom-in">
                    <div class="card shadow-15-strong">
                      <img src="../../../assets/icons/study-MU.jpg" alt="logoMU" class="card-img-top"/>
                      <button class="btn btn-dark text-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#study-mu" aria-expanded="false" aria-controls="collapseExample">
                          <i class="bi bi-chevron-compact-down"></i>
                        </button>
                        <div class="collapse" id="study-mu">
                          <div class="card-body bg-dark text-light">
                              <h5 class="card-title text-center text-primary">Maestría en Urbanismo</h5>
                              <p class="card-text fs-6 text-start">
                                Facultad de Arquitectura Urbanismo y Diseño <br>
                                1er año completado<br>
                                <em class="text-secondary">Córdoba</em>
                              </p>
                            </div>
                            <div class="card-footer bg-dark border-light text-info d-flex justify-content-end">
                                2022
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col" data-aos="zoom-in">
                    <div class="card shadow-15-strong">
                      <img src="../../../assets/icons/study-unc.jpg" alt="logoUNC" class="card-img-top"/>
                      <button class="btn btn-dark text-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#study-unc" aria-expanded="false" aria-controls="collapseExample">
                          <i class="bi bi-chevron-compact-down"></i>
                        </button>
                        <div class="collapse" id="study-unc">
                          <div class="card-body bg-dark text-light">
                              <h5 class="card-title text-center text-primary">Arquitecto Urbanista</h5>
                              <p class="card-text fs-6 text-start">
                                Facultad de Arquitectura Urbanismo y Diseño <br>
                                <em class="text-secondary">Córdoba</em>
                              </p>
                            </div>
                            <div class="card-footer bg-dark border-light text-info d-flex justify-content-end">
                                2016
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col" data-aos="zoom-in">
                    <div class="card shadow-15-strong">
                      <img src="../../../assets/imgpj/dummyimg.jpg" alt="logoAP" class="card-img-top"/>
                      <button class="btn btn-dark text-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          <i class="bi bi-chevron-compact-down"></i>
                        </button>
                        <div class="collapse" id="collapseExample">
                          <div class="card-body bg-dark text-light">
                              <h5 class="card-title text-center text-primary">Técnico en Armado y reparacion de PC</h5>
                              <p class="card-text fs-6 text-start">
                                Instituto F.U.C.E. <br>
                                <em class="text-secondary">Córdoba</em>
                              </p>
                            </div>
                            <div class="card-footer bg-dark border-light text-info d-flex justify-content-end">
                                2003
                            </div>
                        </div>
                        <div class="col" data-aos="zoom-in">
                            <div class="card shadow-15-strong">
                              <img src="../../../assets/icons/study-ac.jpg" alt="logoAC" class="card-img-top"/>
                              <button class="btn btn-dark text-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#study-ac" aria-expanded="false" aria-controls="collapseExample">
                                  <i class="bi bi-chevron-compact-down"></i>
                                </button>
                                <div class="collapse" id="study-ac">
                                  <div class="card-body bg-dark text-light">
                                      <h5 class="card-title text-center text-primary">Bachiller en Economía y Gestión de las Organizaciones</h5>
                                      <p class="card-text fs-6 text-start">
                                        Instituto Dr Alexis Carrel <br>
                                        <em class="text-secondary">Río Tercero</em>
                                      </p>
                                    </div>
                                    <div class="card-footer bg-dark border-light text-info d-flex justify-content-end">
                                        2001
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                  </div>
             </div>
            
            <!--ul>
                <li>
                    <div class="card ">
                        <div class="face front">
                            <img src="../../../assets/icons/study-ap.jpg" alt="logoAP">
                            <h4 class="text-primary d-flex align-items-center justify-content-center">DESARROLLADOR FULL STACK jr</h4>
                        </div>
                        <div class="face back">
                            <h4 class="text-primary fs-4">Desarrollador Full Stack jr</h4>
                            <p>Argentina Programa <br>
                                Ministerio de Desarrollo Productivo</p>
                            <h5 class="text-info d-flex justify-content-end">2022</h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card w-50">

                    </div>
                </li>
                <li>
                    <h4 class="text-primary fs-4">MAESTRÍA EN URBANISMO</h4><h5 class="text-secondary">2019</h5>
                    <h4>UNC - Facultad de arquitectura y diseño industria</h4>
                </li>
                <li>
                    <p>Primer año cursado completo.</p>
                </li>
                <li>
                    <h4 class="text-primary fs-4">ARQUITECTO</h4><h5 class="text-secondary">2016</h5>
                    <h4>UNC - Facultad de arquitectura y diseño industrial</h4>
                </li>
                <li>
                    <p>Estudios finalizados.</p>
                </li>  
                <li>
                    <h4 class="text-primary fs-4">TÉCNICO EN ARMADO Y REPARACIÓN DE PC</h4><h5 class="text-secondary">2003</h5>
                    <h4>Instituto F.U.C.E. - Córdoba</h4>
                </li>
                <li>
                    <p>Estudios finalizados.</p>
                </li>
                <li>
                    <h4 class="text-primary fs-4">BACHILLER EN ECONOMÍA Y GESTIÓN DE LAS ORGANIZACIONES</h4><h5 class="text-secondary">2001</h5>
                    <h4>Instituto privado diocesano Dr. Alexis Carrel - Río Tercero</h4>
                </li>
                <li>
                    <p>Estudios finalizados.</p>
                </li>      
            </ul-->
        </div>
    </div>
</div>